<div ng-controller="AfficheCtrl">
    <h2>Aperçu Utilisateur</h2>
    <table class="table table-bordered table-hover">

        <tr>
            <td>Nom</td>
            <td>{{ CurrentUser.name }}</td>
        </tr>
        <tr>
            <td>Prenom</td>
            <td>{{ CurrentUser.surname }}</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>{{ CurrentUser.email }}</td>
        </tr>
        <tr>
            <td>Site Internet</td>
            <td>{{ CurrentUser.website }}</td>
        </tr>
    </table>
    <br>
    <h2>Role(s)</h2>
    <table ng-repeat="role in roles" class="table table-bordered table-hover">
        <tr>
            <td>Role</td>
            <td>{{ role.name }}</td>
            <td>Nom du Projet</td>
            <td>{{ role.ProjectTitle }}</td>
        </tr>

    </table>
    <br>
    <h2>Projet(s) Lié(s)</h2>
    <table ng-repeat="proj in projectsforUser" class="table table-bordered table-hover">
        <tr>
            <td>Nom du Projet</td>
            <td>{{ proj.title }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ proj.description }}</td>
        </tr>
        <tr>
            <td>Année</td>
            <td>{{ proj.year }}</td>
        </tr>
    </table>
</div>
