<div class="cadreContact">
  <div ng-controller="AfficheCtrl">
    <h2 align="center">Aperçu Utilisateur</h2>
    <table class="table table-bordered table-hover">
      <tr><td colspan="2">Utilisateur</td></tr>
      <tr><td>Nom</td><td>{{ CurrentUser.name }}</td></tr>
      <tr><td>Prenom</td><td>{{ CurrentUser.surname }}</td></tr>
      <tr><td>Mail</td><td>{{ CurrentUser.email }}</td></tr>
      <tr><td>Site Internet</td><td>{{ CurrentUser.website }}</td></tr>
      </table>
    Role(s)
    <table ng-repeat="role in roles" class="table table-bordered table-hover">
      <tr><td>Id du Projet</td><td>{{ role.ProjectId }}</td><td>Role</td><td>{{ role.name }}</td></tr>

    </table>
    Projet(s) Lié(s)
      <table ng-repeat="project in projects">
        <tr><td>Nom du Projet</td><td>{{ project.name }}</td></tr>
      <tr><td>Nom du Description</td><td>{{ project.description }}</td></tr>
      <tr><td>Année</td><td>{{ project.year }}</td></tr>
    </table>
    Equipe du Projet
    <table>
      <tr ng-repeat="person in team">
        <td><a href="#/{{person.id}}/affiche">{{ person.name }}</a></td>
        <td><a href="#/{{person.id}}/affiche">{{ person.surname }}</a></td>
        <td><a href="#/{{person.id}}/affiche">{{ person.email }}</a></td>
        <td><a href="#/{{person.id}}/affiche">{{ person.website }}</a></td>
      </tr>
    </table>
      </div>
</div>
