<div class="cadreContact">
  <div ng-controller="AfficheCtrl">
    <h2 align="center">Aperçu Utilisateur</h2>
    <table class="table table-bordered table-hover">
      <tr><td colspan="2">Utilisateur</td></tr>
      <tr><td>Nom</td><td>{{ CurrentUser.name }}</td></tr>
      <tr><td>Prenom</td><td>{{ CurrentUser.surname }}</td></tr>
      <tr><td>Mail</td><td>{{ CurrentUser.email }}</td></tr>
      <tr><td>Site Internet</td><td>{{ CurrentUser.website }}</td></tr>
      </table>
    Role(s)
    <table ng-repeat="role in roles" class="table table-bordered table-hover">
      <tr><td>Id du Projet</td><td>{{ role.ProjectId }}</td><td>Role</td><td>{{ role.name }}</td></tr>

    </table>
    Projet(s) Lié(s)
      <table ng-repeat="proj in projectsforUser" class="table table-bordered table-hover">
        <tr><td>Nom du Projet</td><td>{{ proj.title }}</td></tr>
      <tr><td>Description</td><td>{{ proj.description }}</td></tr>
      <tr><td>Année</td><td>{{ proj.year }}</td></tr>
    </table>
      </div>
</div>
