<div ng-controller="EditCtrl">
    <div class="jumbotron">
        <!-- Bulles -->
        <h1> Modification</h1>

        <h2>Que Recherchez vous ?</h2>

        <h3> Etudiant</h3>
        <h4> Recherchez par nom de famille : </h4>
        <form>
            <select  ng-options="user.name for user in users" size="1" ng-model="selectedUser" ng-change="afficherRole(selectedUser)">
            </select>

            <p>
                Nom :<br><input ng-model="selectedUser.name"><br>
                Prénom :<br><input ng-model="selectedUser.surname"><br>
                Email :<br><input ng-model="selectedUser.email"><br>
                Website:<br><input ng-model="selectedUser.website"><br>

                <button ng-click="modifierUser(selectedUser)">Modifier</button>
            </p>
            <h4> Rôle : </h4><br>
            <h5> Choisir un projet</h5>
            <select ng-options="role.ProjectId for role in roles" size="1" ng-model="selectedRole"></select><br>
            Statut :<br> <input ng-model="selectedRole.name"><br>
            <button ng-click="modifierRole(selectedRole)">Modifier Rôle</button>


        </form>

        <h3>Projets </h3>
        <form>
            <select  ng-options="project.title for project in projects" size="1" ng-model="selectedProjet"></select>
            <p>

                Titre :<br><input ng-model="selectedProjet.title"><br>
                Description :<br><textarea ng-model="selectedProjet.description"></textarea><br>
                Année :<br><input ng-model="selectedProjet.year"><br>
                <button ng-click="modifierProjet(selectedProjet)">Modifier Projet</button>

            </p>
        </form>

    </div>
</div>