<div ng-controller="MainCtrl">
    <div class="jumbotron">

        <h2>Que Recherchez vous ?</h2>

        <h3> Etudiant</h3>

        <form>
            <h4> Recherchez par nom de famille : </h4>
            <h5> Dans la liste : </h5>
            <select ng-options="user.name for user in users | filter:selectedUserFirstname.surname | filter:searchedName"
                    size="1" ng-model="selectedUserName" ng-change="afficherRole(selectedUser)">
            </select>
            <h4> Recherchez par prenom : </h4>
            <select ng-options="user.surname for user in users | filter:selectedUserName.name" size="1"
                    ng-model="selectedUserFirstname" ng-change="afficherRole(selectedUser)">
            </select>

            <h5> En le tapant : </h5>
            <input ng-model="searchedName"/><br><br>

            <h5>Cliquez sur l'utilisateur pour avoir des détails</h5>
            <table class="table table-bordered">
                <tr class="active">
                    <td>nom</td>
                    <td>prenom</td>
                    <td>mail</td>
                    <td>website</td>
                </tr>
                <tr ng-repeat="user in users | filter:selectedUserName.name | filter:selectedUserFirstname.surname | filter:searchedName">
                    <td><a href="#/{{user.id}}/affiche">{{ user.name }}</a></td>
                    <td><a href="#/{{user.id}}/affiche">{{ user.surname }}</a></td>
                    <td><a href="#/{{user.id}}/affiche">{{ user.email }}</a></td>
                    <td><a href="#/{{user.id}}/affiche">{{ user.website }}</a></td>
                </tr>
            </table>
            <br>


            <h3> Projet</h3>
            <h4>Pour voir les projets en détails cliquez sur l'onglet 'Afficher les projets'</h4>
            <br>
            <table class="table table-bordered">
                <tr class="active">
                    <td>titre</td>
                    <td>description</td>
                    <td>année</td>

                </tr>
                <tr ng-repeat="project in projects">
                    <td><a href="#/{{user.id}}/affiche">{{ project.title }}</a></td>
                    <td><a href="#/{{user.id}}/affiche">{{project.description }}</a></td>
                    <td><a href="#/{{user.id}}/affiche">{{ project.year}}</a></td>
                </tr>
            </table>
        </form>
    </div>
</div>