<div ng-controller="ProjectCtrl">
        <h1>Affichage des Projets</h1>
        <h4> Recherchez par nom de projet : </h4>
        <select  ng-options="project.title for project in projects |filter:searchedName" ng-model="selectedProject" ng-change="getUsersOfProject(selectedProject)">
        </select><br>
        <h5> En le tapant : </h5>
        <input ng-model="searchedName"/><br>
        <h4>Nom du Projet:</h4>{{ selectedProject.title }}<br>
            <h4>Description:</h4> {{ selectedProject.description }}<br>
                <h4>Année:</h4> {{ selectedProject.year }}<br>
                    <h4>Equipe du Projet</h4>
        <table  class="table table-bordered">
            <tr class="active">
                <td>nom</td>
                <td>prenom</td>
                <td>mail</td>
                <td>website</td>
                <td>role</td>
            </tr>
            <tr ng-repeat="person in team">
                <td><a href="#/{{person.id}}/affiche">{{ person.name }}</a></td>
                <td><a href="#/{{person.id}}/affiche">{{ person.surname }}</a></td>
                <td><a href="#/{{person.id}}/affiche">{{ person.email }}</a></td>
                <td><a href="#/{{person.id}}/affiche">{{ person.website }}</a></td>
                <td><a href="#/{{person.id}}/affiche">{{ roles[0].name}}</a></td>
            </tr>
        </table>
        </div>
</div>